<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t(".title") %></title>
    <style>
        .container {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #313131;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .h1 {
          display: block;
          min-width: 100%;
          text-align: center;
        }
        .button {
            color: white;
            padding: 8px 16px;
            border: 1px solid white;
            margin: 1rem;
            font-size: 21px;
            letter-spacing: 0.2px;
            display: inline-block;
            border-radius: 4px;
            text-decoration: none;

        }
        .button:hover{
            color: white;
            opacity: 0.8;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="h1"><%= t(".title") %></h1>

        <div>
          <a class="button" href="https://octree-gva.github.io/decidim-rest-full/" target="_blank">
              <%= t(".documentation_website") %>
          </a>
          <a class="button" href="/api/rest/docs/openapi.json" target="_blank">
              <%= t(".open_api_spec") %>
          </a>
        </div>
    </div>
</body>
</html>
