<div class="border border-black my-2">
  <h2 class="border-b-4 h5 p-4" id="proposals_permission">
      <%= t("scope_oauth", scope: "decidim.rest_full.models.api_client.fields") %>
  </h2>
  <div id="proposals_permission" class="p-4 " >
    <div class="mt-4">
      <div class="font-bold py-2"><%= t('.oauth') %></div>
      <div class="flex gap-6 flex-wrap">
        <% ["oauth.login".each do |permission| %>
          <label>
            <%= form.check_box :permissions, { multiple: true, label: "", checked: @api_client.permissions.pluck(:permission).include?(permission.to_s) }, permission, nil %>
            <span class="font-normal"><%= t("#{permission}", scope: "decidim.rest_full.models.api_client.permission") %></span>
          </label>
        <% end %>
      </div>
    </div>
  </div>
</div>
  