<% add_decidim_page_title(@api_client.name) %>
<%= link_to t(".go_back"), system_api_clients_path, class: "button button__sm button__text-primary" %>
<% provide :title do %>
  <h1 class="h1"><%= @api_client.name %></h1>
<% end %>

<%= decidim_form_for(@form) do |f| %>
  <%= render partial: "form", object: f, locals: { disabled:true } %>

<% end %>
